/**
 * Badge
 */
.vts-badge-wh-1 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #fff;
  background-color: #7B3CEC;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.vts-badge-wh-2 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #000;
  background-color: greenyellow;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.vts-badge-wh-3 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #000;
  background-color: orange;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.vts-badge-wh-4 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #000;
  background-color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
}

.vts-badge-wh-5 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #000;
  background-color: yellow;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
}

.vts-badge-wh-6 {
  margin-left: 4px !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  color: #000;
  background-color: lightskyblue;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
}